<div class="todo-list__content js-todo-input" *ngFor="let todo of this.todos; let i = index">
  <div class="todo-list" data-id="{{todo.id}}">
    <div class="todo-list__item todo-title">Title:{{todo.title}}</div>
    <div class="todo-list__item todo-description">Description:{{todo.description}}</div>
    <p>Status {{todo.status}}</p>
    <div *ngIf="todo.status === 0">
      <div class="js-buttons-area">
        <button class="btn js-done-todo" data-id="{{todo.id}}" (click)="setStatusDone(todo.id)">Done</button>
        <button class="btn js-hold-todo" data-id="{{todo.id}}" (click)="setStatusHold(todo.id)">Hold</button>
        <button class="btn js-active-todo" data-id="{{todo.id}}" (click)="setStatusActive(todo.id)" disabled>Active</button>
        <button class="btn js-remove-todo" data-id="{{todo.id}}" (click)="remove(todo.id)">Remove</button>
      </div>
    </div>
    <div *ngIf="todo.status === 1">
      <div class="js-buttons-area">
        <button class="btn js-done-todo" data-id="{{todo.id}}" (click)="setStatusDone(todo.id)">Done</button>
        <button class="btn js-hold-todo" data-id="{{todo.id}}" (click)="setStatusHold(todo.id)" disabled>Hold</button>
        <button class="btn js-active-todo" data-id="{{todo.id}}" (click)="setStatusActive(todo.id)">Active</button>
        <button class="btn js-remove-todo" data-id="{{todo.id}}" (click)="remove(todo.id)">Remove</button>
      </div>
    </div>
    <div *ngIf="todo.status === 2">
      <div class="js-buttons-area">
        <button class="btn js-done-todo" data-id="{{todo.id}}" (click)="setStatusDone(todo.id)" disabled>Done</button>
        <button class="btn js-hold-todo" data-id="{{todo.id}}" (click)="setStatusHold(todo.id)" disabled>Hold</button>
        <button class="btn js-active-todo" data-id="{{todo.id}}" (click)="setStatusActive(todo.id)" disabled>Active</button>
        <button class="btn js-remove-todo" data-id="{{todo.id}}" (click)="remove(todo.id)">Remove</button>
      </div>
    </div>
  </div>
</div>
