<div class="todo-list__content js-todo-input" *ngFor="let todo of this.todos; let i = index">
  <div class="todo-list" data-id="{{todo.id}}">
    <div class="todo-list__item todo-title">Title:{{todo.title}}</div>
    <div class="todo-list__item todo-description">Description:{{todo.description}}</div>
    <p>Status {{todo.status}}</p>
      <div class="js-buttons-area">
        <button class="btn js-done-todo" data-id="{{todo.id}}" (click)="setStatusDone(todo.id)" [disabled]="todo.status === 2">Done</button>
        <button class="btn js-hold-todo" data-id="{{todo.id}}" (click)="setStatusHold(todo.id)" [disabled]="todo.status === 1 || todo.status === 2">Hold</button>
        <button class="btn js-active-todo" data-id="{{todo.id}}" (click)="setStatusActive(todo.id)"  [disabled]="todo.status === 0 || todo.status === 2">Active</button>
        <button class="btn js-remove-todo" data-id="{{todo.id}}" (click)="remove(todo.id)">Remove</button>
    </div>
  </div>
</div>
